body {
	background-color: cornflowerblue;
}
.titleblock {
	border-width: 5px;
	border-style: solid;
	border-color: black;
	margin: auto;
}
h1 {
	margin: auto;
	text-align: center;
}
h3 {
	margin: auto;
	text-align: center;
}
.wrapper {
	width: 960px;
	margin: auto;
	background-color: white;
}