body {
	background-color: #0D2E4C;
}
.titleblock {
	border-width: 5px;
	border-style: solid;
	border-color: black;
	margin: auto;
}
h1 {
	margin: auto;
	text-align: center;
	font-family: 'Segoe UI';
}
h3 {
	margin: auto;
	text-align: center;
	font-family: 'Segoe UI';
}
.wrapper {
	width: 950px;
	margin: auto;
	background-color: white;
}
.navbar {
	border-width: 3px;
	border-style: ridge;
	border-color: grey;
	background-color: #0F192A;
	color: white;
}
#login {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	margin: 2px;
	width: 135px;
	text-align: center;
	font-family: 'Calibri';
}
#loginForm {
	margin: 2px;
}
#wrongLogin {
	color: red;
}