body {
	background-color: #7ACEF4;
}
.titleblock {
	border-width: 5px;
	border-style: solid;
	border-bottom-style: none; 
	border-color: black;
	margin: auto;
	background-color: #0769AD;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
h1 {
	margin: auto;
	text-align: center;
	font-family: 'Segoe UI';
}
h3 {
	margin: auto;
	text-align: center;
	font-family: 'Segoe UI';
}
.wrapper {
	width: 950px;
	margin: auto;
	background-color: white;
	border-style: outset;
	border-width: 3px;
	border-radius: 10px; 
	box-shadow: 10px 10px 5px #393B3C;
}
.navbar {
	border-width: 3px;
	border-style: solid;
	border-color: black;
	background-color: #0F192A;
	color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px; 
}
#login {
	border-width: 1px;
	border-style: solid;
	border-color: white;
	margin: 2px;
	width: 135px;
	text-align: center;
	font-family: 'Calibri';
	cursor: pointer;
}
#loginForm {
	margin: 2px;
}
#wrongLogin {
	color: red;
}
.contentPosts {
	background-color: rgb(226, 228, 250);
	width: 650px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
}
#mainSection {
	margin: auto;
	background-color: white;
}
.contentText {
	margin: 2px;
}